---
import BaseLayout from "../../layouts/BaseLayout.astro";
import projectData from "../../data/project-data.json";

export async function getStaticPaths() {
  return projectData.map(
    ({
      id,
      title,
      heading,
      images,
      url,
      services,
      objective,
      process,
      result,
      tech,
    }) => {
      return {
        params: { id },
        props: {
          title,
          heading,
          url,
          images,
          services,
          objective,
          process,
          result,
          tech,
        },
      };
    }
  );
}

const {
  title,
  heading,
  images,
  url,
  services,
  objective,
  process,
  result,
  tech,
} = Astro.props;
const pageTitle = `${title} | Project detail`;
---

<BaseLayout pageTitle={pageTitle}>
  <article>
    <h1 class="wrapper">Project detail: <br />{title}</h1>
    <section class="wrapper">
      <img src={images.large} alt={title} />
      <div class="project-detail__info flex space-xl">
        <div>
          <span class="project-info title-small">Project info</span>
        </div>
        <div>
          <div class="project-detail-content">
            <h2 class="project-detail__h2">{heading}</h2>
            <div class="project-detail__url flex">
              <span class="title-small">Client site:</span>
              <a href={url} target="_blank">{url}</a>
            </div>
          </div>
        </div>
      </div>
      <div class="project-detail__info flex space-xl">
        <h3 class="services-h3 title-small self-start">Services</h3>
        <div class="project-detail__services">
          <ul>
            {services.map((service) => <li>{service}</li>)}
          </ul>
        </div>
      </div>
      <div class="project-detail__info-b flex">
        <div class="flow">
          <h3>Objective</h3>
          <p>{objective}</p>
        </div>
        <div class="flow">
          <h3>Process</h3>
          <p>{process}</p>
        </div>
        <div class="flow">
          <h3>Result</h3>
          <p>{result}</p>
        </div>
      </div>
    </section>

    <style>
      article {
        margin-top: 6rem;
      }
      h1 {
        padding: var(--space-s-m) var(--fluid-18-80);
        background: var(--color-secondary-200);
        color: var(--color-white);
        border-radius: var(--border-radius-xxl);
      }

      h2 {
        font-family: var(--ff-body);
        font-weight: 400;
        padding-bottom: 0;
      }
      section {
        margin-top: var(--space-l);
        background: var(--color-bg-light);
        border-radius: var(--border-radius-xxl);
      }
      img {
        width: 100%;
        border-radius: var(--border-radius-md);
      }

      .project-detail__info {
        flex-direction: column;
        --gap: 0;
      }

      a {
        transition: font-weight 0.2s;
      }

      a:hover {
        font-weight: 700;
      }

      .project-detail__info-b {
        flex-direction: column;
        --gap: var(--space-xl-2xl);
        margin-top: var(--space-2xl-3xl);
      }

      .flow {
        --flow-space: var(--space-xs);
      }

      .project-detail__url {
        flex-direction: column;
        --gap: 0;
        margin-top: var(--space-m-l);
      }

      .project-detail__services li {
        border-bottom: 1px solid var(--color-accent-400);
      }

      .project-detail__services li {
        padding-top: var(--space-l);
      }

      .project-info {
        margin-bottom: var(--space-s);
      }

      .title-small {
        margin-top: var(--space-3xs);
      }

      @media (min-width: 768px) {
        .project-detail__url {
          flex-direction: row;
          --gap: 0.5em;
        }

        .project-detail__url a {
          padding-top: 0.15em;
        }
      }

      @media (min-width: 992px) {
        .project-detail__info {
          display: grid;
          grid-template-columns: 0.5fr 1fr;
        }

        .project-detail__services li:first-child {
          padding-top: 0;
        }
      }
    </style>
  </article>
</BaseLayout>
