---
import BaseLayout from "../../layouts/BaseLayout.astro";
import projectData from "../../data/client-data.json";

export async function getStaticPaths() {
  return projectData.map(({ id, title, description, images, url, tech }) => {
    return {
      params: { id },
      props: { title, description, url, images, tech },
    };
  });
}

const { title, description, images, url, tech } = Astro.props;
const paragraphs = description.split("\n");
const pageTitle = `${title} | Client Project`;
---

<BaseLayout pageTitle={pageTitle}>
  <article>
    <h1 class="wrapper">Client focus: <br />{title}</h1>
    <section class="wrapper">
      <img class="space-xl border-radius-lg" src={images.small} alt={title} />
      <div class="flex column">
        <ul class="flex space-m">
          <li>Built with:</li>
          {tech.map((item) => <li>{item}</li>)}
        </ul>
        <a class="space-m inline" href={url} target="_blank">View Live Site</a>
        {paragraphs.map((paragraph) => <p>{paragraph}</p>)}
      </div>
    </section>
  </article>
</BaseLayout>

<style>
  article {
    margin-top: var(--space-3xl-4xl);
  }
  h1 {
    padding: var(--space-s-m) var(--space-l-xl);
    background: var(--color-secondary-200);
    color: var(--color-white);
    border-radius: var(--border-radius-xxl);
  }

  section {
    margin-top: var(--space-l);
    background: var(--color-bg-light);
    padding: var(--space-xl-2xl) var(--space-l-xl);
    border-radius: var(--border-radius-xxl);
  }
</style>
