---
import clientData from "../data/client-data.json";
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Clients | walkonmars.design";
---

<BaseLayout pageTitle={pageTitle}>
  <article class="wrapper" id="main-content">
    <h1 class="">Clients</h1>

    {
      clientData.map(({ id, title, images, tech }) => (
        <section class="client border-radius-xl">
          <h2 class="">{title}</h2>
          <a href={`/client-detail/${id} `}>
            <picture>
              <img
                class="border-radius-lg"
                src={images.small}
                alt={title}
                title="View Project"
              />
            </picture>
          </a>

          <ul class="flex space-s" role="list">
            {tech.map((item) => (
              <li>{item}</li>
            ))}
          </ul>

          <a class="space-m inline" href={`/client-detail/${id}`}>
            View Project
          </a>
        </section>
      ))
    }
  </article>
</BaseLayout>

<style>
  .client {
    margin-top: var(--space-2xl-3xl);
    background: var(--color-secondary-400);
    padding: var(--space-2xl-3xl) var(--space-l-xl);
  }

  picture {
    margin-top: var(--space-s-m);
  }
</style>
