---
import clientData from "../data/client-data.json";
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Clients | walkonmars.design";
---

<BaseLayout pageTitle={pageTitle}>
  <article id="main-content">
    <h1 class="wrapper">Clients</h1>

    {
      clientData.map(({ id, title, images, excerpt }) => (
        <section class="client wrapper">
          <a href={`/client-detail/${id} `} class="client-link">
            <picture>
              <img
                class="border-radius-lg"
                src={images.small}
                alt={title}
                title="View Project"
              />
            </picture>

            <div>
              <h2 class="client-h2">{title}</h2>
              <p>{excerpt}</p>
            </div>
            <span>View Project</span>
          </a>
        </section>
      ))
    }
  </article>
</BaseLayout>

<style>
  article {
    margin-top: 6rem;
  }
  h1 {
    padding: var(--space-s-m) var(--fluid-18-80);
    background: var(--color-secondary-200);
    color: var(--color-white);
    border-radius: var(--border-radius-xxl);
  }

  h2 {
    color: initial;
    font-size: var(--step-2);
    margin-top: var(--space-l);
  }
  picture {
    margin-top: var(--space-s-m);
    position: relative;
    padding-top: 2em;
  }

  p {
    margin-top: var(--space-s);
  }
  span {
    display: inline-block;
    margin-top: var(--space-s);
  }

  picture::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 3rem;
    height: 0.4rem;
    background: var(--color-accent-400);
  }
  .client {
    margin-top: var(--space-l);
    background: var(--color-bg-light);
  }

  .client-link {
    display: inline-block;
  }

  .client-link picture {
    position: relative;
    display: inline-block;
    overflow: hidden;
  }

  .client-link picture::after {
    content: "View";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: var(--color-accent-400);
    color: var(--color-primary);
    text-align: center;
    line-height: 100px;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  .client-link:hover picture::after {
    opacity: 1;
  }

  .client-link picture img {
    transition: transform 0.3s ease;
    position: relative;
  }

  .client-link:hover picture img {
    transform: scale(1.1);
  }
</style>
