---
import clientData from "../data/client-data.json";
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Clients | walkonmars.design";
---

<BaseLayout pageTitle={pageTitle}>
  <article id="main-content">
    <h1 class="wrapper">Clients</h1>

    {
      clientData.map(({ id, title, images, tech }) => (
        <section class="wrapper client border-radius-xl">
          <h2 class="">{title}</h2>
          <a href={`/client-detail/${id} `}>
            <picture>
              <img
                class="border-radius-lg"
                src={images.small}
                alt={title}
                title="View Project"
              />
            </picture>
          </a>

          <ul class="flex space-s" role="list">
            {tech.map((item) => (
              <li>{item}</li>
            ))}
          </ul>

          <a class="space-m inline" href={`/client-detail/${id}`}>
            View Project
          </a>
        </section>
      ))
    }
  </article>
</BaseLayout>

<style>
  article {
    margin-top: var(--space-3xl-4xl);
  }
  h1 {
    padding: var(--space-s-m) var(--space-l-xl);
    background: var(--color-secondary-200);
    color: var(--color-white);
    border-radius: var(--border-radius-xxl);
  }
  picture {
    margin-top: var(--space-s-m);
  }
  .client {
    margin-top: var(--space-l);
    background: var(--color-bg-light);
    padding: var(--space-xl-2xl) var(--space-l-xl);
  }
</style>
