---
import projectData from "../data/project-data.json";
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Projects | walkonmars.design";
const description =
  "A collection of projects by walkonmars.design showcasing web design and development.";
---

<BaseLayout pageTitle={pageTitle} description={description}>
  <article id="main-content">
    <h1 class="wrapper">Projects</h1>

    {
      projectData.map(({ id, title, images, excerpt, altHero }) => (
        <section class="project wrapper">
          <a href={`/project-detail/${id} `} class="project__link-img">
            <div class="project__img-wrapper">
              <img
                class="border-radius-lg"
                src={images.large}
                alt={altHero}
                title="View Project"
              />
            </div>
          </a>
          <div>
            <h2 class="project-h2">{title}</h2>
            <p>{excerpt}</p>
          </div>
          <a class="project__link" href={`/project-detail/${id}`}>
            View project
          </a>
        </section>
      ))
    }
  </article>
</BaseLayout>

<style>
  article {
    margin-top: 6rem;
  }
  h1 {
    padding: var(--space-s-m) var(--fluid-18-80);
    background: var(--color-secondary-200);
    color: var(--color-white);
    border-radius: var(--border-radius-xxl);
  }

  h2 {
    color: initial;
    font-size: var(--step-2);
    margin-top: var(--space-l);
  }
  .project__img-wrapper {
    margin-top: var(--space-s-m);
    position: relative;
    padding-top: 2em;
  }

  p {
    margin-top: var(--space-s);
  }
  span {
    display: inline-block;
    margin-top: var(--space-s);
  }
  .project {
    margin-top: var(--space-l);
    background: var(--color-bg-light);
  }
  .project__img-wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 3rem;
    height: 0.3rem;
    background: var(--color-accent-400);
  }

  a.project__link {
    display: inline-block;
    margin-top: var(--space-m);
  }

  a.project__link {
    transition: font-weight 0.2s;
  }
  a.project__link:hover {
    font-weight: 700;
  }

  .project__link-img .project__img-wrapper {
    position: relative;
    display: inline-block;
    overflow: hidden;
  }

  .project__link-img .project__img-wrapper::after {
    content: "View";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: var(--color-white);
    color: var(--color-primary);
    text-align: center;
    line-height: 100px;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  .project__link-img:hover .project__img-wrapper::after {
    opacity: 1;
  }

  .project__link-img .project__img-wrapper img {
    transition: transform 0.3s ease;
    position: relative;
  }

  .project__link-img:hover .project__img-wrapper img {
    transform: scale(1.1);
  }
</style>
