---
import projectData from "../data/project-data.json";

const { id, images, title, code, tech } = projectData[0];
---

<section class="featured container space-xl-2xl">
  <h2 class="uppercase animation underline">Featured Project</h2>
  <div class="project">
    <img class="animation" src={images.small} alt={title} />
    <div class="project__content animation">
      <h3 class="space-s uppercase">{title}</h3>
      <ul class="flex" role="list">
        {tech.map((item) => <li class="uppercase  font-m-step-1 ">{item}</li>)}
      </ul>
      <div class="project__links uppercase space-s flex">
        <a href={`/project-detail/${id}`}>View Project</a>
        <a href={code} target="_blank">View Code</a>
      </div>
    </div>
  </div>
</section>

<style lang="scss">
  .featured {
    padding-bottom: var(--space-2xl);
  }

  .project {
    margin-top: var(--space-m);
    &__content {
      padding: 2em;
      background-color: var(--clr-secondary);
      margin-top: var(--space-m);
    }
  }
  @media (min-width: 760px) {
    .project {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: var(--space-xl);
      margin-top: var(--space-l);

      &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 0;
      }

      &__links {
        margin-top: auto;
      }
    }
  }
</style>
