---
import projectData from "../data/project-data.json";
import FeaturedBtn from "./FeaturedBtn.astro";

const { title, excerpt, id, images, altFeatured } = projectData[0];
---

<section>
  <div class="wrapper">
    <div class="featured">
      <h2 class="">Featured project</h2>
      <div class="featured__content">
        <div class="featured__content-text flow">
          <h3>{title}</h3>
          <p>
            {excerpt}
          </p>
          <FeaturedBtn />
        </div>
        <div class="featured__img-wrapper">
          <a class="project-link" href={`/project-detail/${id}`}>
            <img
              class="featured__img"
              src={images.featured}
              alt={altFeatured}
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  section {
    margin-top: var(--space-l);
  }

  p {
    margin-bottom: 1em;
  }
  img {
    box-shadow: var(--shadow-medium);
    object-fit: cover;
  }

  .wrapper {
    background: var(--color-bg-light);
  }

  .featured {
    max-width: 65rem;
    margin-inline: auto;
  }
  .featured__content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin-top: var(--space-l);
  }

  .featured__content-text {
    padding-right: var(--space-m);
    padding-top: var(--space-m);
  }

  /************************** */

  .featured__img-wrapper {
    position: relative;
    display: inline-block;
    overflow: hidden;
  }

  .project-link::after {
    content: "View";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: var(--color-accent-400);
    color: var(--color-primary);
    text-align: center;
    line-height: 100px;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  .project-link:hover::after {
    opacity: 1;
  }

  .project-link img {
    transition: transform 0.3s ease;
  }

  .project-link:hover img {
    transform: scale(1.1);
  }

  .featured__img-wrapper:hover {
    box-shadow: var(--shadow-medium);
    border-radius: var(--border-radius-md);
  }

  @media (min-width: 768px) {
    .wrapper {
      padding: var(--space-3xl) var(--space-xl);
    }
  }
</style>
