---
const { platform, username } = Astro.props;
import { Icon } from "astro-icon/components";
const icon = platform === "linkedin" ? "mdi:linkedin" : null;
---

<a href={`https://www.${platform}.com/${username}`}>
  <Icon name={icon} alt={platform} title={`Mark's ${platform} page`} />
</a>

<style>
  a {
    text-decoration: none;
  }
  svg {
    width: var(--step-3);
    height: auto;
  }
</style>
