---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
const formattedDate = new Date(frontmatter.pubDate).toLocaleDateString(
  "en-GB",
  {
    year: "numeric",
    month: "long",
    day: "numeric",
  }
);
---

<BaseLayout pageTitle={frontmatter.title}>
  <nav class="wrapper space-l" aria-label="breadcrumb">
    <ul class="breadcrumb flex" role="list">
      <li class="breadcrumb-item">
        <a href="/blog/">Blog /</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        {frontmatter.title}
      </li>
    </ul>
  </nav>
  <main class="wrapper space-l">
    <article>
      <h1 class="underline">{frontmatter.title}</h1>
      <p class="space-m">Published on: {formattedDate}</p>
      <p>Written by {frontmatter.author}</p>
      <div class="uppercase flex wrap space-m">
        {
          frontmatter.tags.map((tag) => (
            <a href={`/tags/${tag}`}>
              <p class="tag font-xs-step-2">{tag}</p>
            </a>
          ))
        }
      </div>
      <img
        class="space-l"
        src={frontmatter.image.url}
        alt={frontmatter.image.alt}
      />
      <div class="space-m markdown"><slot /></div>
    </article>
  </main>
</BaseLayout>

<style>
  .breadcrumb {
    --gap: 0.5em;
  }

  .page {
    width: 100%;
    max-width: 60rem;
  }

  .tag {
    cursor: pointer;
    background-color: var(--color-filter-bg);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
  }

  .tag:hover,
  .tag:focus,
  .tag:active {
    box-shadow: 0 0 0 0.125rem var(--color-filter-shadow);
  }

  .markdown > div {
    margin: 50px;
  }
</style>
